[2021-05-25 02:49] coreman21 commented on #704
Sorry, I was getting this error when running terraform plan under "/ha-sap-terraform-deployments/gcp".

The issue was solved by setting **bastion_enabled = false**

[2021-05-25 02:50] #704 closed

[2021-06-07 10:00] stefanotorresi opened #706 "Automate the deployment of HANA Scale-Out scenario"
We need to automate the procedure to deploy the "SAP HANA Scale-Out Performance Optimized" scenario explained here: https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/

Most of the main concepts can be applied transparently.

For reference, there is also a [dedicated document for AWS](https://documentation.suse.com/sbp/all/html/SLES-SAP-hana-scaleOut-PerfOpt-12-AW

[2021-06-08 09:55] stefanotorresi commented on #611
This seems to also affects Azure, pending confirmation.

[2021-06-08 16:03] yeoldegrove commented on #703
I can confirm the behavior and the error messages about the import:
[code]

According to SAP documentation one should import `dbapi` like @arbulu89 mentioned:

https://help.sap.com/viewer/0eec0d68141541d1b07893a39944924e/2.0.03/en-US/d12c86af7cb442d1b9f8520e2aba7758.html

[code]

This PR https://github.com/SUSE/saphanabootstrap-formula/pull/129 in `saphanabootstrap-formula` includes a fix and seve

[2021-06-09 06:24] arbulu89 commented on #703
@yeoldegrove Nice!
This should come together with a docu change (as the old implementation was just following the best practices guide)

@pirat013 or @fmherschel, could have a look on this?

[2021-06-09 09:26] fmherschel commented on #703
@yeoldegrove @arbulu89 Give me some time to review that on my installations. It would be an excellent improvement, if we do not longer need to install the dbapi manually as we had the need in the past.

[2021-06-09 09:36] fmherschel commented on #703
@yeoldegrove @arbulu89 Yes we can use the new method to load the dbapi. Thanks for this suggestion. We should think about placing this Hook now in the SAPHanaSR package so customers not using the automation could also consume it. However the code (username and password) (what a bad situation) must be existing in clear text. I would prefer something like a secure store user key instead but I did no

[2021-06-09 09:48] arbulu89 commented on #703
@fmherschel The `dbapi` has the option to use `userkey` (`hdbuserstore`). The key must be provided obviously.

We can open 2 additional tickets for the future.
1. Add the hook in the `SAPHanaSR` package
2. Explore how to use a key from the user store

[2021-06-09 10:11] fmherschel commented on #703
@arbulu89 Ok I did a research in the past and asked SAP and they said that user keys was not implemented. So I missed that update. The explore of usage of the key I would like to see in the HA team of Markus Guertler. What do you think?

[2021-06-09 11:04] arbulu89 commented on #703
Of course. Let us know if you need any assistance.

[2021-06-09 13:27] arbulu89 commented on #703
Fixed in: https://github.com/SUSE/saphanabootstrap-formula/pull/129

[2021-06-09 13:27] #703 closed

[2021-06-11 11:30] yeoldegrove opened #707 "`modules/cluster_node` does not install `promtail`"
**Used cloud platform**
all

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Linux

**Expected behaviour vs observed behaviour**
`modules/cluster_node` should install installs `loki` and `promtail` and start the `promtail` service if monitoring is enabled.
`promtail` however is not installed and the salt run fails.

**Possible Reason**
https://github.com/SUSE/ha-sap-terraform-deplo

[2021-06-11 11:37] yeoldegrove commented on #611
I experienced #707 when trying to reproduce this.

[2021-06-11 11:48] yeoldegrove commented on #707
This is already fixed in https://github.com/SUSE/ha-sap-terraform-deployments/pull/705

[2021-06-11 11:48] #707 closed

[2021-06-11 14:06] yeoldegrove commented on #611
I can confirm this.

[2021-06-16 13:15] pirat013 opened #711 "HANA and NetWeaver cluster corosync is not in udpu mode"
**Used cloud platform**
libvirt

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Linux SLES15 SP2

**Expected behaviour vs observed behaviour**
Deploying a SAP system with DRBD, HANA and NetWeaver cluster on libvirt results in two different cluster types. The HANA and NetWeaver cluster are multicast cluster and the DRBD cluster is a UDPU cluster. Based on our Best Practices the HAN

[2021-06-16 13:41] pirat013 opened #712 "Monitoring configuration for ASCS and ERS are not available on all hosts"
**Used cloud platform**
libvirt

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Linux SLES15 SP2

**Expected behaviour vs observed behaviour**
The Prometheus exporter for the ASCS and ERS can not be started from Pacemaker after a resource swap has happen. After the deployment the ASCS is running on netweaver01 and ERS is running on netweaver02. If the ASCS must start on the netwea

[2021-06-16 15:51] yeoldegrove commented on #712
I also noted this behavior yesterday.

The yaml file is hardcoded in https://github.com/SUSE/sapnwbootstrap-formula/blob/master/netweaver/monitoring.sls#L17.
This is not a file available on all cluster nodes of course.

We would need something of the following:
  - a configurable path in sapnwbootstrap (/etc by default)
    - this could be injected by a grain by salt/terraform
  - something that a

[2021-06-17 07:23] yeoldegrove commented on #611
Within #710 are fixes to differentiate between host, ha and application/vip exporter hosts:ports.

new targets:
[code]

With this new configuration, everything works on my test systems for AWS + Azure.

[2021-06-17 08:19] rtorrero opened #713 "Deployment on azure arbitrarily fails with `Cluster is not created yet. Run cluster_initialized before`"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Linux

**Expected behaviour vs observed behaviour**
While attempting to deploy a 2 node cluster (+monitoring) in azure, terraform will often fail almost at the end of the process with the following message:

[code]
**How to reproduce**
Specify the step by step process to reproduce the issue. This usually

[2021-06-17 08:27] arbulu89 commented on #713
@rtorrero In which of the 2 nodes is this error happening?

[2021-06-17 08:37] rtorrero commented on #713
vmhana01

[2021-06-23 09:53] yeoldegrove commented on #711
In general, there are sane defaults set to use unicast.
[code]

Also a test deployment on azure had unicast set for every cluster type.

The issue is that `pillar_examples` files for openstack are missing the `unicast: True` lines.
[code]

#715 includes a fix.

[2021-06-25 14:40] pirat013 opened #718 "SBD device name mapping is changing after reboot"
**Used cloud platform**
libvirt

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
SLES15 SP2

**Expected behaviour vs observed behaviour**
I did a node reboot of one of the cluster members. The node does not join to the cluster because the access to the SBD device is not possible. The disk ID path has changed in the meantime. This is maybe cause by a reboot of the iSCSI server in th

[2021-06-25 14:56] pirat013 commented on #718
The situation is show like this:

netweaver01:~ # uptime
 16:48:21  up   1:26,  1 user,  load average: 0.00, 0.00, 0.00
netweaver01:~ # logout
Connection to 192.168.144.30 closed.
fscs99:~ # ssh 192.168.144.33
Last login: Fri Jun 25 16:44:05 2021 from 192.168.144.1
netweaver02:~ # uptime
 16:48:28  up 19 days 19:16,  1 user,  load average: 0.79, 0.92, 0.49
netweaver02:~ # logout
Connection to 192.

[2021-06-28 07:21] arbulu89 commented on #718
Thanks @pirat013
Interesting. We will need to have a look. As far as I remember we took care of using real paths when iSCSI is initialized in the iSCSI server machine, but it looks like something is still wrong.
We will have a look

[2021-06-29 16:11] yeoldegrove commented on #711
Actually #715 is not a fix but a cosmetic change.

@pirat013 I could not verify this issue on azure and do not have libvirt setup at hand ... Did you by any chance not use the `pillar_example/automatic/{drbd,hana,netweaver}/cluster.sls` files?
This could be the case if `pre_deployment = true` is not set (which is, according to your `terraform.tfvars`).

[2021-06-30 07:23] yeoldegrove commented on #711
#715 now also includes a change for the behavior experienced by @pirat013

[2021-07-02 07:26] yeoldegrove commented on #711
fixed in #715

[2021-07-02 07:26] #711 closed

[2021-07-08 20:24] rtorrero opened #724 "Deployment on azure fails possibly due to missing `netweaver_ips` var"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Linux

**Expected behaviour vs observed behaviour**
Attempting to deploy to azure results in a immediate failure

[code]
**How to reproduce**
Attempt to deploy to azure without specifying the optional variable `netweaver_ips`

**Used terraform.tfvars**
[code]

[2021-07-09 09:25] stefanotorresi opened #725 "iscsi-formula should be only installed in the iscsi server machine"
Currently, the iscsi-formula is installed in all the machines, which is not actually needed.

We should change the salt `os_setup` state so that this is cleaned up.

[2021-07-09 12:21] yeoldegrove commented on #724
fixed in #726

[2021-07-09 12:21] #724 closed

[2021-07-21 12:47] ricardobranco777 opened #730 "Improve documentation with requirements"
I had to install `xsltproc` in the machine where I was running Terraform to deploy HANA with libvirt.  This requirement should be added to the documentation.

[2021-07-30 08:34] stefanotorresi commented on #725
being addressed in #731

[2021-07-30 09:07] melzer-b1 commented on #725
We found a suitable solution by adding a jinja conditional in os_setup. We also tried another solution by moving the iscsi-formula to iscsi_srv. But this solution was more complex because it needed another salt run in deployment to use iscsi-formula. It was discarded in favour to the first more simpler solution.

[2021-07-30 11:41] #725 closed

[2021-08-05 13:54] #622 closed

[2021-08-05 14:57] melzer-b1 commented on #730
@ricardobranco777
Do you know if really xsltproc is needed or only one of it dependencies (libxslt, libxml) was missing for your terraform?

[2021-08-05 14:59] ricardobranco777 commented on #730
It's the command itself.  Weird.  I tried it from Ubuntu.

[2021-08-11 08:34] diegoakechi opened #739 "HANA System Replication not established due to missing backup when deploying with Netweaver"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES 4 SAP 15-SP2

**Used client machine OS**
openSUSE TW

**Expected behaviour vs observed behaviour**
It was expected a fully functional cluster, with System Replication established.

The current result is a configured HANA cluster, with a System Replication configured but not connected:

[code]

Running the full backup again solves the pr

[2021-08-11 09:41] diegoakechi opened #740 "Monitoring VM has no route for the Netweaver PAS and AAS monitoring exporter IP (sap_host_exporter)"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES for SAP 15.2

**Used client machine OS**
openSUSE TW.

**Expected behaviour vs observed behaviour**

The PAS and AAS sap_host_exporter targets should be available on Prometheus, but currently, they appear configured by Down.

Currently, there is a secondary IP and vHostname `sapha1pas`  used by the sap_host_exporter monitoring. On `etc/

[2021-08-11 10:12] #730 closed

[2021-08-11 14:44] yeoldegrove commented on #712
fixed in SUSE/sapnwbootstrap-formula#88

[2021-08-11 14:44] #712 closed

[2021-08-11 14:47] yeoldegrove commented on #740
my bad ... I will look into it.
#710 was merged to fix #611

[2021-08-11 15:11] diegoakechi commented on #740
@yeoldegrove No worries ;)

[2021-08-16 07:50] yeoldegrove commented on #740
#722 introduces some logic to add VIPs to PAS/AAS instance NIC and also to ASCS (in non-HA use case). The logic can get quite complex.

A decision has to be made:
  - 1. use logic from #722 to add VIPs to NIC
    - only in azure, as other cloud providers work
  - 2. do not use VIPs at all for PAS/AAS
    - remove code from all cloud providers
    - same logic as in i. has to be implemented to pass

[2021-08-16 09:22] yeoldegrove opened #741 "Deploying multiple instances to the same azure resource group fails as resource names are not unique"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Linux

**Expected behaviour vs observed behaviour**
Deploying multiple instances of this project to the same azure resource group fails as resource names are not unique.

Making the resource names unique by adding `${var.deployment_name}` would fix this.

[code]

**How to reproduce**
Specify the step by

[2021-08-23 10:47] yeoldegrove opened #742 "azure S/4HANA 1909 DB import fails"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Linux

**Expected behaviour vs observed behaviour**
The DB import fails with this error messages:

[code]

The issue is, that port 50013 (sapctrl) on DB is not open in load balancer.

**How to reproduce**
Specify the step by step process to reproduce the issue. This usually would look like something like

[2021-08-23 13:57] yeoldegrove commented on #742
fixed in #743

[2021-08-23 13:57] #742 closed

[2021-08-25 14:18] #618 closed

[2021-08-25 15:31] #612 closed

[2021-08-30 09:24] arbulu89 commented on #739
Hi @diegoakechi ,
Thanks for the report. About your analysis I have my doubts. The system replication is fully functioning for the moment when we start the NW installation. I'm starting to think that we miss some of these steps in our deployment, that are not coming in the official installation guide (which we follow). Maybe, we need to run a backup after the NW installation, as this brings a lot

[2021-08-30 14:30] diegoakechi commented on #739
@arbulu89  I couldn't find any similar reference. For sure running a backup after the deployment solves the problem, but not sure if we would be treating the symptom here.
Another possibility would be to disable (or only enable) SR after the NW installation. So we make the backup once after all the DB operations are finished. This would possibly speed up the DB import too.

We should check if @pir

[2021-08-30 16:10] fmherschel commented on #739
@diegoakechi and @arbulu89 The  full backup of SAP HANA us needed to setup a proper system replication. It is also mentioned in our best practice guide and not a workaround.

[2021-08-30 16:12] fmherschel commented on #739
Sorry full backup means a backup of ALL databases (SYSTEMDB and all tenant databases). If you add tenant databases you need to backup the new tenants.

[2021-08-30 16:16] fmherschel commented on #739
In my point of we could:
a) disable SR before the NW installation; after NW installation do a full backup and setup SR again
=> This maybe also speeds-up the SR and less logs needs to be transferred and held, if the secondary would be offline
during that step.
b) Doing a backup of added tenants after the installation - need to check if that needs additional SR commands to
tell the SR that all tena

[2021-08-30 16:20] gereonvey commented on #739
By installing the NetWeaver system you added a new tenant database to the HANA system, which previously only held the SYSTEM database. In multiple-container systems, the system database and all tenant databases must be backed up. This is necessary to start creating log backups. Activated log backup is a prerequisite to get a common sync point for log shipping between the primary and secondary syst

[2021-08-30 16:20] fmherschel commented on #739
In your installation FLOW I guess that SAP HANA gets installed with SYSTEMDB and in tenant mode but without PRD. Then the NW installation adds a complete database (PRD) which is the game-changer here. I am also a bit wondering why SAP has this role to a must-have-a-backup. An SAP colleague always says that the backup is used to transfer the initial SR data, but I am not sure. if that is still real

[2021-08-30 17:54] diegoakechi commented on #739
Thanks a lot @fmherschel and @gereonvey .

@arbulu89 seems to be a known operational situation, so now it is up to you to figure out the best way to solve that.

[2021-08-31 06:32] arbulu89 commented on #739
Thanks @fmherschel @gereonvey , It would be good if we had this information in our installation guides (for example: https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE12/index.html).

About adding a new tenant, I don't think the Netweaver DB installation adds a new tenant, it imports the DB schema to an already existing tenant, that we actually point out during the installation

[2021-08-31 08:01] fmherschel commented on #739
@arbulu89 At least I have seen SAP HANA installing in a tenant-mode and adding a tenant later was exactly matching your symptom. Why should adding a database schema a difference to a massive production? It all ends-up in log shipping.
But adding tenants does open NEW SR channels. That a complete different thing.

[2021-08-31 08:04] fmherschel commented on #739
@arbulu89 The guide you referenced is BY INTENTION focusing on the ASCS/ERS cluster and SR for the SAP HANA is not
discussed there as that is a complete other cluster. I would say we could add it to the performance optimized SR scenario and
add an info to the backup section.

[2021-08-31 08:21] fmherschel commented on #739
@arbulu89 In your installation flow - is the SR active during the installation of SAP NW?
a) if yes -> I would expect that massive changes would be covered. But as I expect the tenant to be new that would not work.
    This is also why the message would ask for an initial backup
b) if no -> if the SR would be setup before but you de-register the secondary during the NW installation then you are ri

[2021-08-31 09:51] yeoldegrove commented on #739
Yes

In our setup here, the PRD tenant is created by the HANA installation itself.
After that, a full backup (of all DBs) is done and the SR is established.

To make sure a DB import is not run before the backup+SR is done, we should really only start to deploy Netweaver when we know all HANA salt states are done.
This is not the case at the moment and salt states on HANA and Netweaver might run i

[2021-08-31 10:03] arbulu89 commented on #739
@yeoldegrove This is not entirely sure.
Keep in mind that most of our deployments are in HA setup. We check if the HANA database is available using the cluster virtual ip address, so this means it will wait until the HANA installation is done and actually the cluster is even created, so i really don't see many options where the DB import and HANA installation/SR setup are being executed in paralle

[2021-09-03 06:46] yeoldegrove commented on #740
@arbulu89 What is your opinion on this?

[2021-09-06 06:34] arbulu89 commented on #740
HI @yeoldegrove ,

Assuming that the PAS and AAS services won't move from their host machines, I think we could use the option 2, as it looks the easier and quite reasonable.

[2021-09-08 08:29] yeoldegrove commented on #695
In the meantime there is also the issue #739 which talks about not established HANA system replication.
This seems related and possible solutions will be discussed there.

[2021-09-08 08:29] #695 closed

[2021-09-08 08:32] yeoldegrove commented on #611
With #710 merged there are still issues to reach PAS/AAS vIPs on azure.
#740 and #722 are addressing this.
This will be followed up in #740.

[2021-09-08 08:32] #611 closed

[2021-09-08 11:44] yeoldegrove commented on #713
I am able to easily reproduce this on a successfully deployed HANA cluster in azure by doing ...
[code]

Looking at the cluster state while the salt-call runs, I noticed that the cluster itself is initialized correctly.
The issue seems to be that corosync is restarted in my use case.

[code]

It takes quite a while to come up and the `configure-sbd-resource`, `configure-cluster-properties` and `co

[2021-09-09 08:02] yeoldegrove commented on #713
@rtorrero SUSE/habootstrap-formula#86 was just merged.
Could you please try it out via setting this in `terraform.tfvars` ...
[code]
And making sure `habootstrap-formula-0.4.4` is used?

[2021-09-09 13:20] yeoldegrove commented on #327
We will not implement this for now.

[2021-09-09 13:20] #327 closed

[2021-09-09 13:25] yeoldegrove commented on #540
Azure Availability Sets cannot be configured in a granular way and you can have many of them in parallel.
Please elaborate on a concrete use case and reopen if needed.

[2021-09-09 13:25] #540 closed

[2021-09-09 13:25] #589 closed

[2021-09-09 13:33] yeoldegrove commented on #583
`Find all the available variables and definitions in the variables.tf file` is stated in every `terraform.tfvars.example`
More complex variables are explained in the `README.md` files also.
If something concrete is missing, please file a new issue.

[2021-09-09 13:33] #583 closed

[2021-09-09 13:35] yeoldegrove commented on #604
If there is an easy reproducer, please reopen.

[2021-09-09 13:35] #604 closed

[2021-09-09 13:46] yeoldegrove commented on #466
@arbulu89 Do you think this is still valid to change?
To not be "too expensive" in the default setup, one could also use 2 vCPUs and ~8GB RAM as the default.
For production setups one has to consider the actual workload anyhow.

[2021-09-09 16:30] nasjomach opened #747 ""count" usage in TFE"
"count" parameter in TFE is not easy to manage as of my understanding.
For example, if one provision 3 systems:
sys1, sys2, sys3 using count.

How do you remove "sys2" ?
Most probably you cant. One would decrease "count" to 2 and most probably it will want to destroy "sys3"?

Recent version of TFE support for each loops, dynamics, etc.

[2021-09-16 12:27] yeoldegrove commented on #747
Currently the project is not really built to be able to change deployments later on.
It is just about the actual deployment currently.
This cannot be changed that easily as a lot of logic is also put into e.g. "position x" in some "count variables".
It would be a nice improvement though of course... But we cannot fix/improve it easily at the moment.

[2021-09-16 12:27] #747 closed

[2021-09-20 07:04] yeoldegrove commented on #740
#750 implements a solution to this problem now

summed up:

The Netweaver virtual IPs for AS/ERS are reachable via different mechanism for public clouds:

azure -> load-balancer
gcp -> route to VM (changed by cluster)
aws -> route to VM (changed by cluster)
For the Netweaver virtual IPs for PAS/AAS there is currently no mechanism implemented to make them reachable to other nodes.

This PR makes th

[2021-09-20 07:05] #740 closed

[2021-09-20 08:43] rtorrero commented on #713
This issue doesn't seem to be happening anymore, thanks!

[2021-09-20 08:43] #713 closed

[2021-09-24 08:39] arbulu89 opened #757 "Make the HANA and NW machines hostname configurable"
In order to make multiple different deployents, that are not exactly a replica, it would be good to have the option to customize the name if the machines, specially the HANA and NW machine names.

So, for example in the Azure case, instead of having `vmhana01` always, it would be good to have the option to configure the name to `myname01`, etc, keeping the current value as default. The suffix shou

[2021-09-28 14:59] stefanotorresi opened #760 "Update used Terraform version to 1.0"
We currently still use 0.13 as the reference Terraform version.
We should migrate to Terraform 1.0.

[2021-09-28 15:01] stefanotorresi opened #761 "Update the Azure provider version"
We currently use version 2.32.0 of the Azure Terraform Provider, [which is about 1 year old](https://registry.terraform.io/providers/hashicorp/azurerm/2.32.0).

We need to migrate to the latest version (2.78.0 at the time of writing).

[2021-10-06 13:06] yeoldegrove commented on #757
The new feature is added with #767.

[2021-10-06 13:06] #757 closed

[2021-10-18 12:30] ab-mohamed opened #779 "NetWeaver 7.5 HA deployment incorrect parameters and notes"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP2 for SAP Applications

**Used client machine OS**
Google Cloud Shell

**How to reproduce**
1. Clone the `master` brunch.

2. Configure the Terraform variables file.

3. Execute `terraform init` and `terraform apply --auto-approve` commands

4. The deployment has been completed successfully.

5. I used `https://documentation.suse.com/s

[2021-10-18 14:41] ab-mohamed opened #780 "NetWeaver 7.5 failover failure."
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP2 for SAP Applications

**Used client machine OS**
Google Cloud Shell

**Expected behavior vs observed behavior**
The Expected behavior - A successful failover means that:
1. The ASCS service moves from the first node `default-netweaver01` to the second node, `default-netweaver02`.
2. The ERS Service moves from the second node  `defaul

[2021-10-18 15:05] yeoldegrove commented on #780
This should be fixed in https://github.com/SUSE/sapnwbootstrap-formula/pull/88

[2021-10-18 15:09] yeoldegrove commented on #780
realted to of #712

[2021-10-19 09:32] #463 closed

[2021-10-19 16:14] ab-mohamed commented on #780
@yeoldegrove, Thank you for your release which fixes this issue.

You can close this issue. :)

Best regards,
Ab

[2021-10-20 07:27] #780 closed, assigned to yeoldegrove, arbulu89

[2021-10-20 10:47] ab-mohamed opened #781 "ClusterLabs HA Multi-Cluster overview dashboard incorrect results"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Google Cloud Shell

**Expected behavior vs observed behavior**
Expected behavior:  When NetWeaver 7.5 HA cluster is deployed successfully, the `ClusterLabs HA Multi-Cluster Overview` dashboard should shows 100% Up nodes for NetWeaver HA cluster nodes.

Observed behavior: It shows 50% Up nodes for NetWeaver

[2021-10-20 11:04] ab-mohamed opened #782 "SAP HANA system replication dashboard incorrect results"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Google Cloud Shell

**Expected behavior vs observed behavior**
Expected behavior:  SAP HANA dashboard -> `HANA System Replication Status` shows the correct information for both HANA nodes.

Observed behavior: It shows incorrect info for the `HOST` and `SECONDARY HOST` columns.

**How to reproduce**
1. NetW

[2021-10-20 11:05] stefanotorresi commented on #781
hmm there should be 4 nodes in total up for netweaver, 2 of which are clustered.
Is node exporter running in the PAS and AAS nodes?

[2021-10-20 11:10] ab-mohamed commented on #781
@stefanotorresi I did not check it before destroying the environment.

What should be the used command to check the node exporter on PAS and AAS?

[2021-10-20 11:15] ab-mohamed commented on #782
@diegoakechi
1. The Second host value should be `default-hana02` instead of `default-hana01`.
2. The Second Secondary host value should be `default-hana01`.

[2021-10-20 11:25] diegoakechi commented on #782
@diegoakechi the info presented comes from HANA and seems to match the systemReplicationStatus.py. The SAPHanaSR-showAttrib provides a view centered on the pacemaker cluster, and the fields have different meanings here.

[2021-10-20 12:38] #782 closed, assigned to arbulu89

[2021-10-21 05:31] ab-mohamed opened #783 "Feature Request - GCP NetWeaver and S/4HANA HA Load Balancer"
**Used cloud platform**
GCP

**Used SLES4SAP version**
Any currently supported version

**Details**
A feature request to implement the GCP internal load balancer for NetWeaver and S/4HANA  as described in https://cloud.google.com/solutions/sap/docs/netweaver-ha-config-sles.
Currently, the only way to implement NetWeaver or S/4HANA HA cluster is to use the `gcp-vpc-move-route` RA.

Detailed informa

[2021-10-27 11:15] jschaef opened #785 "missing scale_up_resources.j2 in newest saphanabootstrap-formula leads to salt failure during installation of cluster.sls"
**Used cloud platform**
all, tested on vsphere

**Used SLES4SAP version**
tested on SLE15SP2

**Used client machine OS**
OpenSUSE Tumbleweed

**Expected behaviour vs observed behaviour**
cluster should be built.

**How to reproduce**

use pillar_examples/automatic/hana/cluster.sls

**Used terraform.tfvars**

vsphere_user = testuser"
vsphere_password = "test"
vsphere_server = "xxx-lab-vcenter.lab.e

[2021-10-28 06:30] #785 closed, assigned to arbulu89

[2021-10-28 11:08] ab-mohamed opened #786 "S/4HANA HA deployment failure"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP2 for SAP Applications

**Used client machine OS**
Google Cloud Shell

**Expected behaviour vs observed behaviour**
Expected behaviour: a successful deployment
Observed behavior: failed S/4HANA deployment because of not creating the `profile` file, `/sapmnt/HA1/profile`.

**How to reproduce**

1. Normal S/4HANA deployment

2. Create th

[2021-11-01 19:23] ab-mohamed commented on #786
Hi. Any updates regarding this bug? :)

[2021-11-02 13:36] yeoldegrove commented on #786
After a quick investigation this seems related to a missing `terraform.tfvars` parameter:
[code]

[2021-11-02 13:50] #786 closed

[2021-11-03 10:51] yeoldegrove opened #787 "enable SAPHanaSR-ScaleOut multi-target system replication"
Starting with version 0.180 the SAPHanaSR-ScaleOut package supports SAP HANA scale-out multi-target system replication. That means you can connect a third HANA site by system replication to either of the two HANA sites which are managed by the SUSE HA cluster.

More Details can be found here:
https://www.suse.com/c/sap-hana-scale-out-upgrade-details/
https://www.suse.com/c/sap-hana-scale-out-multi

[2021-11-04 07:45] #781 closed

[2021-11-15 14:18] #787 closed

[2021-11-16 14:07] pirat013 opened #791 "Monitoring rules for systemd units (monitoring_srv/prometheus/rules.yml)"
The current configuration for the systemd unit files are monitoring the **active** state like this:
`# systemd services alerts
- name: systemd-services-monitoring
  rules:
  - alert: service-down-pacemaker
    expr: node_systemd_unit_state{name="pacemaker.service",
state="active"} == 0
    labels:
      severity: page
    annotations:
      summary: Pacemaker service not running
`
This would lead

[2021-11-22 08:28] #779 closed

[2021-11-22 08:31] yeoldegrove commented on #783
@ab-mohamed You can try out this new feature in our `development` branch now. Please make sure to use the latest rpms for the drbd, hana, netweaver formulas.

[2021-12-06 12:04] ab-mohamed commented on #783
@yeoldegrove Unfortunately, the deployment execution was failed.

The DRBD cluster was not created successfully, as shown in the attached deployment output logs.

The monitoring server reported only the `default-vmdrbd02` instance as the online node, but there were no configured resource agents, as shown below:
[code]

The DRBD disk was not used:
[code]
[code]

And there were no created NFS shares

[2021-12-06 16:35] ab-mohamed opened #802 "S/4HANA Monitonring Server Failure"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES4SAP 15 SP2

**Used client machine OS**
Google Cloud Shell

**Expected behavior vs. observed behavior**
The Monitoring Server was not able to show the S/4HANA HA cluster status.

**How to reproduce**

1. Using the current `master` branch, start a new S/4HANA deployment.
2. Using the Monitoring Server Dashboars ->  ClusterLabs HA Cluster de

[2021-12-06 17:50] ab-mohamed opened #803 "S/4HANA HA environment HANA System Replication Failure"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES4SAP 15 SP2

**Used client machine OS**
Google Cloud Shell

**Expected behavior vs. observed behavior**
HANA System Replication status is `SFAIL` while it should be `SOK`.

**How to reproduce**

Using the current `master` branch, start a new S/4HANA deployment.

**Troubleshooting Steps**

1. Using the Monitoring Server Dashboars ->  SAP HA

[2021-12-06 18:33] ab-mohamed commented on #781
@yeoldegrove I can't see this fix in the `master` branch. I am still seeing the same reported in https://github.com/SUSE/ha-sap-terraform-deployments/issues/781#issue-1031259562.

[2021-12-11 05:21] busetde opened #804 "GCP S/4HANA2020 DEPLOYMENT FAILED"
Used cloud platform:
GCP

Used SLES4SAP version:
SLES4SAP 15 SP2

Used client machine OS:
Google Cloud Shell

Expected behavior vs. observed behavior
Deployment of S/4HANA2020 failed with error below:

` Error: remote-exec provisioner error
│
│   with module.netweaver_node.module.netweaver_provision.null_resource.provision[0],
│   on ../generic_modules/salt_provisioner/main.tf line 78, in resource

[2021-12-11 05:23] busetde commented on #804
@ab-mohamed

[2022-01-03 21:03] picoroma opened #805 "Support for SAP S/4 HANA 2021 version"
Does the script support to deploy new version of SAP S/4 HANA (2021)?
Or is still supported only version 2020, yet?
THX

[2022-01-10 16:01] yeoldegrove opened #806 "deployments fail because of missing loki user"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP2

**Expected behaviour vs observed behaviour**
When enabling monitoring, all monitoring agents should be successfully deployed.
But this here happens:

[code]

The latest changes to the `loki` rpm might be realted to this:
https://build.opensuse.org/package/show/network:ha-clustering:sap-deployments:devel/loki
https://build.opensuse.o

[2022-01-11 10:28] yeoldegrove commented on #783
After fixing the monitoring setup in https://github.com/SUSE/hanadb_exporter/pull/101 and https://github.com/SUSE/ha-sap-terraform-deployments/pull/807 I was able to build a setup with the load-balancer setup enabled (new default).

![image](https://user-images.githubusercontent.com/8668070/148925006-f4a4f984-fdb6-461c-a4a9-3fc0e5cb1429.png)
![image](https://user-images.githubusercontent.com/86680

[2022-01-11 13:18] yeoldegrove commented on #802
I just was able to deploy a complete NW stack with the latest `master` code and `ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:/ha-clustering:/sap-deployments:/v7/"`
I cannot see any issues with the `ha_cluster_exporter` binary on my system:

[code]

![image](https://user-images.githubusercontent.com/8668070/148949046-b843aea6-1293-4ea7-ab4c-09f5886cf513.png)

I used

[2022-01-19 07:51] yeoldegrove commented on #804
@busetde In your logs I can see a possible problem and solution for the issue.

`sapinst.log`
[code]
This is going to be solved by https://github.com/SUSE/sapnwbootstrap-formula/pull/92.

Please use the latest `develop` branch of https://github.com/SUSE/ha-sap-terraform-deployments together with ` ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:/ha-clustering:/sap-depl

[2022-01-19 08:02] yeoldegrove commented on #802
@ab-mohamed Could you specify which S/4HANA version you are using?

Version 2020/2021 will only work with code from https://github.com/SUSE/sapnwbootstrap-formula/pull/92 and https://github.com/SUSE/ha-sap-terraform-deployments/pull/808.
Please use the latest `develop` branch of https://github.com/SUSE/ha-sap-terraform-deployments together with ` ha_sap_deployment_repo = "https://download.opensuse

[2022-01-19 08:03] yeoldegrove commented on #805
@picoroma I got S/4HANA 2020 working with these code changes https://github.com/SUSE/sapnwbootstrap-formula/pull/92 and https://github.com/SUSE/ha-sap-terraform-deployments/pull/808.
Please use the latest `develop` branch of https://github.com/SUSE/ha-sap-terraform-deployments together with ` ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:/ha-clustering:/sap-deploymen

[2022-01-19 12:53] yeoldegrove commented on #803
The SR is OK initially after the HANA installation.
In the S/4HANA case, a large backup is imported into the HANA before the PAS instance is installed.
After this import, the HANA is in the described state and would need a 2nd initial backup

The node who knows best that this new backup is needed is the PAS node. It would be logical to initiate the backup from this host.
@arbulu89 What do you thin

[2022-01-27 14:53] lpalovsky opened #809 "Terraform pla on GCP fails with "Error: Invalid index""
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLE15SP4

**Used client machine OS**
MicroOS - Opensuse Tumbleweed based

**Expected behaviour vs observed behaviour**
Terraform plan always fails with 'Invalid index' error on GCP provider.
Did not try other providers yet.
Terraform version: v1.1.3
ha-sap-terraform-deployments tag: 7.2.1

[code]
**How to reproduce**
1. Move to any of the clou

[2022-01-27 15:44] ricardobranco777 opened #810 "The code for AWS doesn't seem to reuse existing keypairs"
**Used cloud platform**
AWS

**Used SLES4SAP version**
SLES15SP4-Beta3

**Used client machine OS**
QEMU VM with SLE 15-SP2:
https://openqa.suse.de/tests/8028533/asset/hdd/publiccloud_tools_0023.qcow2

**Expected behaviour vs observed behaviour**

With the `develop` branch:

`Error: Error import KeyPair: InvalidKeyPair.Duplicate: The keypair 'qashapopenqa - terraform' already exists.`

https://open

[2022-01-28 07:59] yeoldegrove commented on #806
fixed in #807

[2022-01-28 07:59] #806 closed

[2022-02-08 09:16] yeoldegrove commented on #805
I can confirm that S/4HANA 2021 also works with the latest changes.
An update to our `master` branch is outstanding but will happen independently of this issue, unless explicitly requested.

[2022-02-08 09:16] #805 closed

[2022-02-09 09:03] yeoldegrove commented on #739
https://github.com/SUSE/sapnwbootstrap-formula/pull/95 and https://github.com/SUSE/ha-sap-terraform-deployments/pull/811 include a new feature to backup HANA after initial DB import (if SR is enabled).
This should fix this issue.

[2022-02-09 09:03] #739 closed

[2022-02-09 09:04] yeoldegrove commented on #803
https://github.com/SUSE/sapnwbootstrap-formula/pull/95 and https://github.com/SUSE/ha-sap-terraform-deployments/pull/811 include a new feature to backup HANA after initial DB import (if SR is enabled).
This should fix this issue.

[2022-02-09 09:04] #803 closed

[2022-02-09 13:43] yeoldegrove commented on #783
@ab-mohamed can we close this issue again?

[2022-02-09 13:58] yeoldegrove commented on #802
@ab-mohamed any comment on the S/4HANA version?

[2022-02-09 14:19] yeoldegrove commented on #804
@busetde since https://github.com/SUSE/ha-sap-terraform-deployments/pull/793 `drbd_cluster_vip_mechanism` and `netweaver_cluster_vip_mechanism` are set to `load-balancer` by default.

This means that virtual IPs now have to be on the same subnet or you need to switch back to `route` again.

Details can also be found in `terraform.tfvars`.

e.g.
[code]

Does it work if change the IPs or the mechani

[2022-02-10 12:28] busetde commented on #804
Hi @yeoldegrove,

Thanks, move on from the above issues.
But apparently there's following issues as below:
Let me know if you need additional information.

[code]

[2022-02-10 22:10] busetde commented on #804
@yeoldegrove
Please find additional logs from `/var/log/salt*` for `vmdrbd01`, `vmdrbd02`, `vmhana01`, `vmhana02`, `vmnetweaver01`, `vmnetweaver02`, `vmnetweaver03`

Let me know if there's additional information required
[saltlog.zip](https://github.com/SUSE/ha-sap-terraform-deployments/files/8044663/saltlog.zip)

[2022-02-11 08:22] yeoldegrove opened #812 "BYOS/PAYG public-cloud images do not register correctly"
**Used cloud platform**
AWS, GCP, Azure

**Used SLES4SAP version**
e.g. latest SLES15SP3

**Expected behaviour vs observed behaviour**

The infrastructure to register SUSE's BYOS images changed. For details look at:
https://www.suse.com/c/byos-instances-and-the-suse-public-cloud-update-infrastructure/

At the moment, BYOS images throw errors in the `os_setup` phase (see below).

Update: PAYG image

[2022-02-11 08:24] yeoldegrove commented on #804
The logs show that this new error is totally unrelated to your original problem "no S4HANA 2020 support" and the next error "new lb/route parameters"....

[code]

The latest issue will be handled here:
https://github.com/SUSE/ha-sap-terraform-deployments/issues/812

[2022-02-11 08:24] #804 closed

[2022-02-11 10:55] busetde commented on #812
@yeoldegrove - BYOS means not using cloud provider license?
If this correct, then my deployment actually using GCP SLES4SAP provided license, so is the understanding correct?

Regards - Budi

[2022-02-11 11:07] yeoldegrove commented on #812
@busetde  Yes, you are correct. This is basically this parameter.

[code]

[2022-02-11 11:40] busetde commented on #812
@yeoldegrove,

I'm using below
`*_os_image= "suse-sap-cloud/sles-15-sp2-sap"`

Hope that helps.

[2022-02-15 07:30] yeoldegrove commented on #812
@busetde should be fixed by #815 is `develop` now.

[2022-02-15 08:26] busetde commented on #812
Hi @yeoldegrove,

Supposedly in `main.tf` there's line mentioned that there's IP address need to be outside the subnetwork CIDR range.

As there's an error as below:

`
│ Error: Error creating instance: googleapi: Error 400: Invalid value for field 'resource.networkInterfaces[0].networkIP': '10.0.1.32'. Requested internal IP is outside the subnetwork CIDR range., invalid
│
│   with module.netweave

[2022-02-15 08:38] yeoldegrove commented on #810
@ricardobranco777

I cannot confirm that `terraform destroy` does not delete the `aws_key_pair` resource. It is gone after a `terraform destroy` in my tests in `develop`.
So... whatever you use as a cleanup routine (e.g. for failed terraform runs) might have to be adapted. This is just how terraform works, if it finds something that is not supposed to be there, it will throw these errors.

The pos

[2022-02-15 08:49] yeoldegrove commented on #812
@busetde The error messages come directly from the google API.
This looks like the the loadbalancer vs. route config change again that I explained in https://github.com/SUSE/ha-sap-terraform-deployments/issues/804#issuecomment-1033810226.
Is it and can it be solved by "using loadbalancer and changing IPs" or "switching back to route"?

[2022-02-15 08:57] busetde commented on #812
Hi Eike,

Am experienced the error previously and change or follow accordingly based
on main.tf in develop branch before the changes of PAYG and not seeing the
error, but now I saw the code in develop change that it is the same as
master branch.

Could you confirm if there is such changes?

Regards - Budi

On Tue, Feb 15, 2022, 3:50 PM Eike Waldt ***@***.***> wrote:

[2022-02-15 09:01] yeoldegrove commented on #812
`master` branch does not yet have the fixes from #815 yet. There is an open PR #816 for this.
So the "image issue" is still there in `master`.

[2022-02-15 13:54] #812 closed

[2022-02-15 16:58] busetde commented on #804
Hi @yeoldegrove ,

Getting the error as below
`module.netweaver_node.module.netweaver_provision.null_resource.provision[2] (remote-exec): Summary for local
module.netweaver_node.module.netweaver_provision.null_resource.provision[2] (remote-exec): -------------
module.netweaver_node.module.netweaver_provision.null_resource.provision[2] (remote-exec): Succeeded: 41 (changed=34)
module.netweaver_node

[2022-02-15 18:42] busetde commented on #804
Hi @yeoldegrove

Succesfully deployed S/4HANA 2020 hence closing the bug.
Thanks for your support

![image](https://user-images.githubusercontent.com/63712632/154127843-992c6af3-b057-42d3-a1e0-bb72f75dbe3e.png)

[2022-02-16 16:52] yeoldegrove opened #819 "check/fix discrepancies between regex/docs for passwords"
We should double check for discrepancies between our regex/docs for HANA and Netweaver/S4HANA passwords.
It seems to me that our rules are outdated and do not match the official SAP docs.

[2022-02-18 09:31] melzer-b1 commented on #761
This will be done by #818 with the next release.

[2022-02-18 10:37] melzer-b1 commented on #760
will be done by #818

[2022-02-25 08:39] yeoldegrove opened #820 "aws: aws-sap-data-provider is outdated/broken"
**Used cloud platform**
AWS

**Used SLES4SAP version**
SLES15SP3

**Expected behaviour vs observed behaviour**
The installation of the aws-sap-data-provider is failing.

**How to reproduce**
Run any AWS deployment in `master` or `develop` branch.

**Logs**
[code]

[2022-02-25 08:39] yeoldegrove commented on #820
This is because the URLs to download the provider have changed.
An up to date installation guide can be found here and can be adapted.
https://docs.aws.amazon.com/sap/latest/general/data-provider-installallation.html

[2022-02-25 11:51] #820 closed

[2022-02-28 15:27] abravosuse opened #825 "Wrong hdbuserstore settings on PAS and AAS hosts"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES for SAP 15 SP3

**Used client machine OS**
Windows

**Expected behaviour vs observed behaviour**
I have deployed a SAP NetWeaver 7.5 on HANA system with

1) One AAS on dedicated host
2) One PAS on dedicated host
3) One ASCS/ERS cluster with 2 nodes
4) HANA scale-up luster with 2 nodes

After installation, the hdbuserstore default connec

[2022-03-01 14:38] yeoldegrove commented on #825
@abravosuse Thanks for finding this. I guess you got the ports mixed up 31013/31015 (wrong) vs. 30013/30015 (right)

Just checked the following:
- ASCS install uses correct host (HA VIP)
[code]
- ASCS has no hdbuserstore entry, fine
- PAS/AAS use the same profile, so DB connect itself is fine after a failover
- PAS/AAS's hdbuserstore entry is created during sapinst
[code]
- one can change the sapi

[2022-03-01 15:04] #825 closed

[2022-03-01 15:04] yeoldegrove commented on #825
@abravosuse Hope this fix is sufficient for you.

[2022-03-01 16:20] abravosuse commented on #825
Thank you @yeoldegrove. Yes, the fix is sufficient for me.

Just two comments:

- Connection ports depend on the instance number: 3XX13 for the nameserver (systemdb tenant), 3XX15 for the indexserver (abap tenant). My deployment uses instance number 10, hence the 31013 and the 31015
- Regarding the connection port in the hdbuserstore default entry, you are right, it should be the port of the names

[2022-03-02 07:32] arbulu89 opened #827 "Add SAP diagnostics agent installation option"
The [SAP diagnostics agent](https://wiki.scn.sap.com/wiki/display/SMSETUP/Diagnostics+Agents) is a commonly used tool in all SAP deployments. It is installed in every host which has some SAP software running, and used to diagnose the execution.

It would be a good to have thing in the deployment.
The installation is pretty straightforward:
https://help.sap.com/viewer/lama_help/4d975fc8202c4550b253

[2022-03-11 07:18] busetde opened #828 "Master branch for GCP - terraform plan show error"
Hi @yeoldegrove,

Tried the updated master branch for GCP but got error like below while execute terraform plan as below.
Could you kindly advise what's wrong, as I've tried the previous develop branch it's not shows error when run terraform plan?

![image](https://user-images.githubusercontent.com/63712632/157820159-85407739-db0f-4d8a-ae88-fa5b8ab118f7.png)

Regards - Budi

[2022-03-15 12:59] yeoldegrove commented on #828
@busetde I could not reproduce this error with a cleanly cloned master branch and a `cp terraform.tfvars.example terraform.tfvars`.
Are you sure you are using the latest master commit?

[2022-03-15 13:01] yeoldegrove commented on #783
Reopen in case this still happens with `8.0.0` release.

[2022-03-15 13:01] #783 closed

[2022-03-15 13:01] yeoldegrove commented on #802
Reopen in case this still happens with `8.0.0` release.

[2022-03-15 13:01] #802 closed

[2022-03-15 13:04] #761 closed

[2022-03-15 13:33] busetde commented on #828
Hi @yeoldegrove,

I've just done the below
-Clone from master branch
`git clone -b master https://github.com/SUSE/ha-sap-terraform-deployments.git`
-Copy previous working terraform.tfvars
-Run `terraform plan` the same error like below:
![image](https://user-images.githubusercontent.com/63712632/158388719-d3115f2a-728d-409a-aaf9-d550c8270be6.png)

-Run `terraform plan` from the previously working

[2022-03-15 13:49] yeoldegrove commented on #828
@busetde Could you share a redacted `terraform.tfvars`?

[2022-03-15 14:17] yeoldegrove commented on #697
Sorry for the delay. This will be fixed shortly.

[2022-03-15 14:18] busetde commented on #828
@yeoldegrove

Please find the redacted `terraform.tfvars`
[terraform.tfvars.txt](https://github.com/SUSE/ha-sap-terraform-deployments/files/8254126/terraform.tfvars.txt)

Regards - Budi

[2022-03-15 15:11] yeoldegrove commented on #828
Found the issue... When updating the GCP code to the latest terraform provider, we forgot to test the deployment without a bastion and hence the firewall resources are missing `source_ranges = ["0.0.0.0/0"]`.
#830 fixes this.

[2022-03-15 15:19] yeoldegrove commented on #473
What I have seen in the past is, that depending on the sizing and disk speed of the HANA and Netweaver VMs, one might run into issues like this. There is really no fix for this other than using sufficient sizing.

[2022-03-15 15:19] #473 closed

[2022-03-15 15:21] yeoldegrove commented on #474
This is not valid anymore as newer images use `registercloudguest` instead of `SUSEConnect`.
See https://github.com/SUSE/ha-sap-terraform-deployments/commit/ff5954abedc4e830467fe5034dfb5f300575e966 for reference.

[2022-03-15 15:21] #474 closed

[2022-03-17 09:24] scmschmidt opened #831 "Integrate systemd-enabled SAP instances and SAP HostAgent"
Starting end of March 2022 SAP starts to ship systemd support for SAP instances and the HostAgent. The schedule might still change, but the plan is:

- SAP Kernel 788 end of March (SAP NetWeaver, S/4HANA)
- SAP HostAgent mid April
- SAP HANA around June/July

The terraform deployment should be able to handle both type of instances and HostAgent implementations: the "classic" one and the one with s

[2022-03-17 09:30] lpinne commented on #831
SUSE HA related aspects are explained in
https://www.suse.com/c/handover-for-the-next-round-sap-on-suse-cluster-and-systemd-native-integration/
and man page SAPStartSrv_basic_cluster(7).
Basically the saphostagent.service needs to be enabled and running, but for all cluster controlled instances the SAP<sid>_<nr>.service needs to be disabled and stopped. Of course instances need to be registered.

[2022-03-17 15:24] picoroma opened #832 "SAP HANA 2 NODE + HA Cluster DEPLOY do not work on AWS"
**Used cloud platform**
AWS

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Windows10

**Expected behaviour vs observed behaviour**
I have deployed with success a single NODE HANA System With or Without Monitoring Option
When I ADD a second HANA NODE (hana_count = "2")
The installation do not finish. Hana is not installed  nor into NODE1 nor in NODE2.
If I add even the parameter:

[2022-03-18 08:04] yeoldegrove commented on #832
@picoroma How exactly was your procedure?
Did you first run the buildup of a single node system (`hana_count = 1`), changed the parameter to `2` and ran `terraform apply` a second time?
--> This is not going to work that easily.
or
Did you run a clean new buildup with `hana_count = 2` and `hana_ha_enabled = true` ?
--> These are the 2 parameters that control the deployment to be HA (>`1` and `true

[2022-03-18 08:13] picoroma commented on #832
@yeoldegrove : Usually I destroy a DEPLOY, before run a new one.
So, the sequence I run is usually:
terraform apply
terraform destroy
and then a new terraform apply

When I used:
hana_count = 2 and hana_ha_enabled = true
I had 2 HANA node installed correctly (with HANA System replication). But I have error on OS Cluster.
The SUSE cluster was not deployed correctly.
Do I need some othe parameter to

[2022-03-18 10:21] yeoldegrove commented on #832
@picoroma Thanks for the log... In the meantime I was able to reproduce you error.

At the moment I suspect the issue to be related to the change of instance type in https://github.com/SUSE/ha-sap-terraform-deployments/pull/822.

old instance type (xen)
[code]

new instance type (nitro/kvm)
[code]

The above python code is used by https://github.com/SUSE/salt-shaptools/blob/835d199a6117b0b5657f14a

[2022-03-18 10:22] picoroma opened #833 "DEPLOY NW750.HDB.ABAP - ERROR with EFS"
**Used cloud platform**
AWS

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
Windows10

**Expected behaviour vs observed behaviour**
Deploy of Netweaver fails with error:

Rendering SLS 'predeployment:shared_storage.nfs' failed: mapping values are not allowed in this context[0;0m
[0;31mFri Mar 18 10:08:24 UTC 2022::ip-10-0-2-7::[ERROR] predeployment failed [0m

[2022-03-18 10:30] picoroma commented on #832
Can I "force" to use temporary the OLD Instance Type ?
IN case which Type Of instance I have to choose, for example ?
WRONG:
hana_instancetype = "r6i.xlarge"
RIGHT
hana_instancetype = "????" Can I use r5.2xlarge or r5.4xlarge In the meantime a workaroundis provided ?

[2022-03-18 12:35] yeoldegrove commented on #832
You could try using the old instance types here: https://github.com/SUSE/ha-sap-terraform-deployments/pull/822/files#diff-c4686714aa47252c9b02d1319b932187b5d7e2182279ecf8f69935a469a3469dL211
e.g. `hana_instancetype = r3.8xlarge`
but... #822 came for a reason and after a reboot your nodes might not come up.

[2022-03-18 12:36] yeoldegrove commented on #832
I proposed a fix here: https://github.com/ClusterLabs/crmsh/pull/952
Let's see how fast we can get this merged.

[2022-03-18 15:09] yeoldegrove commented on #697
fixed in #829

[2022-03-18 15:09] #697 closed

[2022-03-21 03:52] busetde commented on #828
@yeoldegrove

Could you please kindly advise if I can test this from the master branch?

Regards - Budi

[2022-03-21 07:47] yeoldegrove commented on #832
@picoroma https://github.com/SUSE/salt-shaptools/pull/87 is a workaround that is merged and available with `ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:/ha-clustering:/sap-deployments:/v8"`

Please try out if this fixes it for you.

In the meantime we're working to getting the `crmsh` fix available in SLES.

[2022-03-21 07:49] yeoldegrove commented on #832
Until the 8.0.1 release, you have to use the `develop` branch to use the workaround.

[2022-03-21 07:55] yeoldegrove commented on #828
@busetde It is available in `develop` already. I plan to release 8.0.1/master today/tomorrow.

[2022-03-21 09:15] picoroma commented on #832
NO. I tried again. This times HANA on 2nd node was not not Installed at all. Even the cluster features on 2nd NOTE is missing
Hana installed correctly ONLY on 1st node
Monitoring Installed but

The deploy finish with this error:
module.hana_node.module.hana_provision.null_resource.provision[0]: Creation complete after 24m23s [id=656053581]
╷
│ Error: remote-exec provisioner error
│
│   with module

[2022-03-21 10:39] picoroma commented on #832
Perform another attempts with log level = info. + Monitoring disabled

This is the Output of deploy:

module.hana_node.module.hana_provision.null_resource.provision[1] (remote-exec): [ERROR   ] b'nameserver vmhana02:30001 not responding.'
module.hana_node.module.hana_provision.null_resource.provision[1]: Still creating... [54m44s elapsed]
module.hana_node.module.hana_provision.null_resource.provis

[2022-03-23 08:23] yeoldegrove commented on #828
@busetde https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/8.0.1 hast just released, including fixes for this issue

[2022-03-23 08:23] #828 closed

[2022-03-23 08:24] yeoldegrove commented on #832
@picoroma  https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/8.0.1 hast just released, including fixes for this issue.
It would be cool if you could confirm that it works now.

[2022-03-23 08:24] yeoldegrove commented on #833
@picoroma  https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/8.0.1 hast just released, including fixes for this issue.
It would be cool if you could confirm that it works now.

[2022-03-23 08:26] yeoldegrove commented on #833
actual fix was merged in #834

[2022-03-23 17:43] picoroma commented on #833
Deploy still fiish with error:
-
module.netweaver_node.module.netweaver_provision.null_resource.provision[0] (remote-exec): [INFO    ] Executing command 'mkswap' in directory '/root'
╷
│ Error: remote-exec provisioner error
│
│   with module.hana_node.module.hana_provision.null_resource.provision[0],
│   on ..\generic_modules\salt_provisioner\main.tf line 78, in resource "null_resource" "provision

[2022-03-24 08:29] yeoldegrove commented on #833
@picoroma The HANA nodes can take longer than netweaver01/02, this is fine, as the do not need the DB.
`Specified path /sapmnt/HA1/profile does not exist` is also fine. It is just a check that is being executed in a loop on the ERS/PAS/AAS to find out if the ASCS is installed.

Could you send over all the `/var/log/salt*` logs from all the nodes?

[2022-03-24 08:39] yeoldegrove commented on #832
@picoroma Your latest reported issues are most likely related to the `SUSEConnect` or `registercloudguest` infrastructure (or code).

Which image are you using exactly and is it PAYG or BYOL?
A short test from my side (just now) did not show any issues with `os_image = "suse-sles-sap-15-sp2"` (which is the default PAYG image) and `aws_region = "us-east-2"`.
Another experience from my side is that

[2022-03-24 11:30] picoroma commented on #832
I think can this can be related to the OS Image I'm using that is  a BYOL one.
I had a similar issue even with AWS Launch Wizard script for SAP. I pened a case to AWS and theyr says:

I have received an update from our internal team confirming that the problem was due to recent SUSE change in registration of BYOS AMIs :
[https://www.suse.com/c/byos-instances-and-the-suse-public-cloud-update-infras

[2022-03-24 15:32] picoroma commented on #833
Hi! I have tried even with a PAYG OS Image. I have  even in this case an error.
I have the log file - Do you have an email address where I can send it (due to sensitive data) ?

[2022-04-02 09:28] picoroma commented on #827
have a look to this installation approach (Unattended) - Used for SAP DAA Mass Deployment:
https://blogs.sap.com/2017/08/02/diagnostic-agent-mass-deployment/

[2022-04-02 16:03] busetde opened #838 "Deployment error on GCP - Error waiting to create Route"
Hi,

With below variables:

[code]
Got following error:
![image](https://user-images.githubusercontent.com/63712632/161391306-b0fc728a-f949-4806-9812-87d541301627.png)

Could you please kindly advise?

[2022-04-03 04:13] #838 closed

[2022-04-04 10:22] pirat013 commented on #791
@yeoldegrove sorry I didn't see your request.
We may have to consider a combination of service is enabled and not started as well this would reflect the original idea better than my suggestion. I'll try to figure out this rule and can create a PR. But I can't say when it will happen.

[2022-04-05 11:33] busetde opened #839 "HANA native fencing resources fail to start - GCP deployment"
Hi,

Using master branch and deploy only for HANA HA, couple of tries to deploy that HANA database goes from GREEN to GRAY (and stay gray until fail) as below:
[code]

Result from CRM
[code]

If HANA node1 manually start then the progress completed successfully as below:
[code]

But CRM show that HANA node2 suddenly take over as below:
[code]
SAP HANA Replication also SFAIL:
[code]

Please kindly

[2022-04-06 00:17] busetde opened #840 "Bastion enabled got error - GCP Deployment"
Hi,

GCP deployment, when ```bastion_enabled = true``` there will be error like below:
[code]

Please kindly advise

[2022-05-12 06:56] yeoldegrove commented on #466
DRBD is not that of an priority right know.

[2022-05-12 06:56] #466 closed

[2022-05-12 07:38] yeoldegrove commented on #810
As written above, I could not reproduce this as an issue.
Cleanup routines might need to be adapted in your use case.

[2022-05-12 07:38] #810 closed

[2022-05-12 07:43] yeoldegrove commented on #832
@picoroma Closing this.
We're happy to investigate/reopen if you still have this issue.

[2022-05-12 07:43] #832 closed

[2022-05-12 07:45] yeoldegrove commented on #833
@picoroma Closing this as I had multiple successful EFS NW deployments in the meantime.
We're happy to investigate/reopen if you still have this issue.

[2022-05-12 07:45] #833 closed

[2022-05-12 07:53] yeoldegrove commented on #839
This is https://bugzilla.suse.com/show_bug.cgi?id=1198872

short: `fence-agents-4.9.0+git.1624456340.8d746be9-150300.3.8.1` is broken as `--zone` parameter is now mandatory.
workaround: downgrade to working `fence-agents-4.9.0+git.1624456340.8d746be9-3.5.1`

[2022-05-12 08:28] yeoldegrove commented on #840
@busetde I was just able to deploy a setup with the latest `8.0.3` release.
Please compare your `terraform.tfvars` with the latest `terraform.tfvars.example` and give feedback in case we shall reopen this.

[2022-05-12 14:16] busetde commented on #840
@yeoldegrove - apologize to open this again
Clone the latest master branch and already compare my `terraform.tfvars` with `terraform.tfvars.example` and still experience the same below, any advise please.

![image](https://user-images.githubusercontent.com/63712632/168096095-63b0b815-f419-4d2c-af43-0904f6219aa5.png)

[2022-05-19 05:43] tstaerk opened #852 "SSH authentication failed"
Following your guide, I get when I type terraform apply:

module.hana_node.null_resource.hana_node_provisioner[1]: Still creating... [5m0s elapsed]
╷
│ Error: file provisioner error
│
│   with module.hana_node.null_resource.hana_node_provisioner[1],
│   on modules/hana_node/[salt_provisioner.tf](http://salt_provisioner.tf/) line 23, in resource "null_resource" "hana_node_provisioner":
│   23:   pr

[2022-05-19 09:32] petersatsuse commented on #852
Hi Thorsten, could you provide us a bit more information pls.

a) which guide: github or suse getting started docu
b) which CSP (guess gce)
c) your settings of the various ssh flags in tfvars:
 - did you provide the values for the public_key/private_key via files, or in tfvars directly
 - what is your setting of "pre_deployment"? If its false, did you provide the "cluster_ssh_xxx" settings?
d) whi

[2022-05-19 12:11] ab-mohamed commented on #852
@petersatsuse, Thorsten uses the SBP guide I created for GCP.

@tstaerk, I would advise the following:
1. If you use an older GitHub version, please ensure that you use the most recent one. The current version is 8.1.0. You may execute the `git pull` command if you are in doubt before creating the environment.
2. Could you please share the `terraform.tfvars` file with us. It contains all the confi

[2022-05-19 14:43] tstaerk commented on #852
just realized I did not define a VPC... if there is only one, can't it use this?

[2022-05-19 14:50] tstaerk commented on #852
OK, I am using GCP and the following tfvars file:

project = "thorstenstaerk-suse-terraforms"
gcp_credentials_file = "sa.json"
region = "europe-west1"
os_image = "suse-sap-cloud/sles-15-sp2-sap"
public_key  = "/home/admin_/.ssh/id_rsa.pub"
private_key = "/home/admin_/.ssh/id_rsa"
cluster_ssh_pub = "salt://sshkeys/cluster.id_rsa.pub"
cluster_ssh_key = "salt://sshkeys/cluster.id_rsa"
ha_sap_deployme

[2022-05-19 15:20] tstaerk commented on #852
git pull tells me "already up to date"

[2022-05-19 15:25] tstaerk commented on #852
deleted and re-checked out

[2022-05-20 15:48] tstaerk commented on #852
OK, your and my terraform.tfvars is identical with the exception of passwords, names and your two lines

hana_primary_site = "NUE"
hana_secondary_site = "FRA"

[2022-05-20 15:55] tstaerk commented on #852
I repeated with my old terraform.tfvars and I get:

module.hana_node.module.hana-load-balancer[0].google_compute_health_check.health-check: Creating...
╷
│ Error: Error creating Network: googleapi: Error 409: The resource 'projects/thorstenstaerk-suse-terraforms/global/networks/demo-network' already exists, alreadyExists
│
│   with google_compute_network.ha_network[0],
│   on infrastructure.tf lin

[2022-05-20 16:15] tstaerk commented on #852
after deleting all the stuff above and re-starting terraform apply, I now get:

│ Error: Error creating InstanceGroup: googleapi: Error 409: The resource 'projects/thorstenstaerk-suse-terraforms/zones/europe-west1-b/instanceGroups/demo-hana-primary-group' already exists, alreadyExists
│
│   with module.hana_node.google_compute_instance_group.hana-primary-group,
│   on modules/hana_node/main.tf lin

[2022-05-20 16:16] tstaerk commented on #852
ssh cannot work, as Cloud Shell does not have network connection to a host inside a GCP project

[2022-05-20 16:18] tstaerk commented on #852
130.211.104.240 is demo-vmhana01

[2022-05-20 16:25] ab-mohamed commented on #852
@tstaerk, please execute the `terraform destroy` command to destroy your environment *_and_* before any new attempts to create a new environment using the `terraform apply` command.

When you ssh to the HANA node using the public IP address, you need to use the used SSH in the `terraform.tfvars` file. Here is the command format:
[code]

[2022-05-20 18:36] tstaerk commented on #852
Hi, I do not call ssh. I get an error that ssh is not possible and I think this is because of the isolation between cloud shell and VMs.

[2022-05-20 19:16] tstaerk commented on #852
ok, makes sense - you use the public IP address. Here is what I get:

admin_@cloudshell:~$ ssh -i .ssh/id_rsa root@130.211.104.240
The authenticity of host '130.211.104.240 (130.211.104.240)' can't be established.
ECDSA key fingerprint is SHA256:YgYUATM68uQX/KEEXAqXUm18U+BMR9/1M1iDic7PfVI.
Are you sure you want to continue connecting (yes/no/[fingerprint])?
Host key verification failed.

[2022-05-23 06:29] ab-mohamed commented on #852
Three possible troubleshooting steps:
1. Ensure that the public SSH key is attached to the two HANA nodes. If not, attach it manually and try it again.
2. Ensure that the SSH key pairs have the proper permission:
Public key ->  600
Private key -> 400
3. Try using the `-v` option with the SSH command to gather more info.

[2022-05-24 07:39] yeoldegrove commented on #840
@busetde Could you send over a redacted `terraform.tfvars`?

[2022-05-24 12:20] busetde commented on #840
@yeoldegrove - Please find attached `terraform.tfvars`
[terraform.tfvars.txt](https://github.com/SUSE/ha-sap-terraform-deployments/files/8762551/terraform.tfvars.txt)

[2022-05-25 09:54] yeoldegrove commented on #831
@scmschmidt None of the "support package patch levels" mentioned in this note are available to download for me https://launchpad.support.sap.com/#/notes/3115048

I cannot find 788 at all and e.g. latest patch level for 758 is 1000 which is below the advertised 1011 ...
Is this simply not out yet?

[2022-05-25 10:43] lpalovsky opened #857 "HANA cluster unclean after deployment"
**Used cloud platform**
Azure

**Used SLES4SAP version**
SLES15SP3

**Used client machine OS**
Linux

**Expected behaviour vs observed behaviour**

ha-terraform-deployment verson: 8.1.0
SAP Hana version: 5.57 , 6.60

Deployment of HA SAP HANA cluster results in non working cluster,
Primary database vmhana01 has does not start, vmhana02 is started as replica but without data fully synced.

[code]
S

[2022-05-25 11:02] yeoldegrove commented on #840
@busetde I see that you define these 3 variables
[code]

You mustn't use `vpc_name / subnet_name` and `ip_cidr_range` at the same time...
from `terraform.tfvars.example` ...

[code]

So use vpc/subnet if you want to use an existing subnet or use `ip_cidr_range` if you want to create those with terraform.
You can customize the network nam portions via the `deployment_name` variable (you do not set

[2022-05-25 12:11] yeoldegrove commented on #840
Should be fixed in https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/8.1.2
Waiting for confirmation from @busetde

[2022-05-25 12:17] busetde commented on #840
@yeoldegrove - confirmed it's fixed now after comment out the vpc_name.

[2022-05-25 12:23] yeoldegrove commented on #857
I could reproduce this issue.
It seems quite odd as the deployment itself finished successfully:
[code]
And shortly (30s) after that, something stops the HANA:
[code]

[2022-05-25 13:24] busetde commented on #840
@yeoldegrove - apologize to put another bug here
But when try to do `terraform apply`
Below error comes:
`module.netweaver_node.module.netweaver_provision.null_resource.provision[1] (remote-exec): local:
module.netweaver_node.module.netweaver_provision.null_resource.provision[1] (remote-exec):     Data failed to compile:
module.netweaver_node.module.netweaver_provision.null_resource.provision[1] (

[2022-05-25 16:06] yeoldegrove opened #859 "cluster.cloud_detection in saltenv predeployment is not available"
@yeoldegrove - apologize to put another bug here
But when try to do `terraform apply`
Below error comes:
`module.netweaver_node.module.netweaver_provision.null_resource.provision[1] (remote-exec): local:
module.netweaver_node.module.netweaver_provision.null_resource.provision[1] (remote-exec):     Data failed to compile:
module.netweaver_node.module.netweaver_provision.null_resource.provision[1] (

[2022-05-26 02:01] busetde opened #860 "Deployment in GCP error"
@yeoldegrove - Apologize to create new issues here, am trying to deploy but got error below:
` Error: remote-exec provisioner error
│
│   with module.netweaver_node.module.netweaver_provision.null_resource.provision[3],
│   on ../generic_modules/salt_provisioner/main.tf line 78, in resource "null_resource" "provision":
│   78:   provisioner "remote-exec" {
│
│ error executing "/tmp/terraform_63875

[2022-05-26 07:53] lpalovsky commented on #857
Hi, thanks for looking into this.
Yes it is strange indeed. I think I saw in the deployment logs multiple restarts of primary DB. I am going to look into those once again and be back once I find anything.
Btw. If I run the deployment with:
hana_ha_enabled = false
It will deploy databases without setting up the HA right? I am thinking to try setup the cluster manually as well.

[2022-05-26 09:22] tstaerk commented on #852
Two questions come to mind:
* what is salt://sshkeys/cluster.id_rsa.pub? Where does it come from? Can I check if mine is right?
* you said it worked for you, and it uses ssh. So you must have a firewall rule, right?

[2022-05-30 06:52] yeoldegrove commented on #852
This is perfectly fine that this fails. Just make sure you delete the old host key from you known_hosts.
A bit more context: https://linuxhint.com/host-key-verification-failed-mean/

[2022-05-30 06:59] yeoldegrove commented on #852
This is the clusters's ssh key. Normally you don't have to temper with this.

You CAN connect via ssh/port-22 so this will not be a firewall issue.

@tstaerk The ssh keys that are used by terraform to connect via ssh and run salt are these:
[code]
Did you create these and are you using these also in your test?

[2022-05-30 07:19] yeoldegrove commented on #857
correct

[2022-05-30 07:21] yeoldegrove commented on #860
@busetde I again would need a terraform.tfvars and some more logs from you. The logs above do not show any concrete error message.

[2022-05-30 07:51] ab-mohamed commented on #852
@tstaerk In addition to @yeoldegrove notes and questions, you may manually attach the SSH public keys to your nodes as a troubleshooting step.

[2022-05-30 12:07] abravosuse opened #862 "Variables and secrets exposed at /etc/salt/grains"
The variables and secrets set in the terraform.tfvars file are exposed in plain text file /etc/salt/grains, including master passwords. Even though folder /etc/salt can only be accessed by root or members of the salt group, this is a vulnerability and it would be preferable if the file was removed altogether at some point during the execution process.

[2022-05-31 05:18] busetde commented on #860
@yeoldegrove - Please kindly find below the terraform.tfvars

[terraform.tfvars.txt](https://github.com/SUSE/ha-sap-terraform-deployments/files/8802208/terraform.tfvars.txt)

Let me know if there's any information needed...

[2022-05-31 07:28] yeoldegrove commented on #860
@busetde What is the error message you get? The messages above are a bit generic ;)

[2022-05-31 07:29] yeoldegrove commented on #857
I narrowed it down to the package version of `SAPHanaSR`.
A deployment with `SAPHanaSR-0.154.1-4.14.1` works.
A deployment with `SAPHanaSR-0.155.0-4.17.1` fails.

[2022-05-31 12:18] yeoldegrove commented on #852
@tstaerk There is of course already code that handles this https://github.com/SUSE/ha-sap-terraform-deployments/blob/main/gcp/modules/hana_node/main.tf#L155
Are you sure you created the keyfiles and set the correct variables in `terraform.tfvars`.

[2022-05-31 14:46] ab-mohamed commented on #857
I confirm that from my side also for HANA HA on GCP.

[2022-06-01 06:44] yeoldegrove commented on #860
@busetde The complete salt output would be enough for the beginning.

[2022-06-01 07:49] busetde commented on #860
@yeoldegrove - I've run again the deployment below is the error:
`
module.netweaver_node.module.netweaver_provision.null_resource.provision[0] (remote-exec): Summary for local
module.netweaver_node.module.netweaver_provision.null_resource.provision[0] (remote-exec): -------------
module.netweaver_node.module.netweaver_provision.null_resource.provision[0] (remote-exec): Succeeded: 31 (changed=26)
m

[2022-06-01 08:53] ab-mohamed opened #863 "HANA HA on GCP - DB doesn't start using the SAPHana resource agent"
**Used cloud platform**
GCP
**Used SLES4SAP version**
SLSES 15 SP3 for SAP Applciations

**Used client machine OS**
macOS 13.4

**Expected behaviour vs observed behaviour**
I expected that HANA would start successfully using the SAPHana resource agent, but it did not work

**How to reproduce**
1. Use the most recent `master` branch to deploy HANA (2.0 SPS05) HA using the `terraform apply --auto-ap

[2022-06-01 09:16] ab-mohamed commented on #863
I have found the following two constraints in the cluster configurations:
[code]

I did not see any`location` constraints before for HANA scale-Up Perf-Opt HA.

@yeoldegrove Can you please check the cluster configurations? I believe there are some added configurations in the last release. Maybe during the scale-out architecture testing?

[2022-06-01 09:35] ab-mohamed commented on #857
More troubleshooting:
1. I removed the two `location` constraints from the cluster configurations.
2. I stopped the DB on the secondary node (ab-vmhana01)
3. I refreshed the failed resource:
[code]
4. DB started on `ab-vmhana01`, but the system replication failed:
[code]
5.  Stopping and  Starting the cluster services did not fix the issue.

[2022-06-01 11:08] ricardobranco777 commented on #857
Interesting. Is there a bug open for it?

[2022-06-02 13:28] yeoldegrove commented on #863
I can confirm that the `saphanabootstrap-formula >= 0.9.1` fixes the issue about the unwanted majority_maker constraints.
It will be available via `ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:ha-clustering:sap-deployments:v8/` in the next days.
Currently setting `ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:ha-clustering:sap-deployme

[2022-06-02 13:38] yeoldegrove opened #865 ""end action monitor_clone with rc=8 (0.155.0)" on newly deployed cluster"
https://bugzilla.suse.com/show_bug.cgi?id=1200161

On a 2 node HANA cluster I see the following behavior with `SAPHanaSR-0.155.0-4.17.1`.
The older version `SAPHanaSR-0.154.1-4.14.1` works as expected.

pre-requisites to error condition:
HANA is running on both nodes, but cluster is stopped
- `crm cluster stop` (on both nodes)
- `su - $sidadm -c HDB start` (on both nodes)
HANA System Replication i

[2022-06-02 13:38] yeoldegrove commented on #857
The HANA not coming up at all (rc=7) will be fixed handled in #863.

For the bug about `SAPHanaSR-0.155.0-4.17.1` I opened #865

[2022-06-02 13:38] #857 closed

[2022-06-02 13:41] yeoldegrove commented on #865
At the moment we're investigating how to fix this.

[2022-06-03 12:28] #865 closed

[2022-06-03 14:09] ab-mohamed commented on #863
@yeoldegrove Using `ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:ha-clustering:sap-deployments:devel` did not fix the issue.

I still can see the following wrong constraints:
[code]

Also, the `srHook` SUDO entries are not there.

[2022-06-03 14:11] yeoldegrove commented on #863
@ab-mohamed Please use latest release `8.1.3` and `ha_sap_deployment_repo = "https://download.opensuse.org/repositories/network:/ha-clustering:/sap-deployments:/v8"`.
A lot of fixes are in the latest release.

[2022-06-03 14:25] tstaerk commented on #852
reproducing it now

[2022-06-03 14:48] ab-mohamed commented on #863
@yeoldegrove I did use the latest release as discussed. I still see the incorrect cluster configurations:
[code]

[2022-06-03 16:40] yeoldegrove commented on #863
@ab-mohamed You are right. The majority maker fix is not yet working on GCP (only azure so far). We need another change https://github.com/SUSE/saphanabootstrap-formula/pull/142 to tackle this.
The PR also includes a fix for a regression that came with https://github.com/SUSE/saphanabootstrap-formula/pull/136.

As soon as the rpm is available, I will release it to the `v8` repo.

[2022-06-06 10:25] tstaerk commented on #852
@yeoldegrove : looking at https://github.com/SUSE/ha-sap-terraform-deployments/blob/main/gcp/modules/hana_node/main.tf#L155, you only add the ssh key to the instance's metadata, so, ssh passwordless login would only work if the project is set to os_login=false, right? Ever tested it with os_login=true?

[2022-06-07 07:38] yeoldegrove commented on #852
@tstaerk I still do not get which exact problem you're having and trying to solve. Could you elaborate on that?

ssh keys are added to the instance's metadata the usual way as you pointed out.
Are you using the "Cloud Console"? AFAIK most of the users use their workstations to deploy this.
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#metadata poin

[2022-06-07 12:14] #859 closed

[2022-06-07 12:15] yeoldegrove commented on #863
@ab-mohamed I released https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/8.1.4 earlier today with the fixes mentioned above. Please retry.

[2022-06-07 12:18] yeoldegrove commented on #860
@busetde from your `salt-result.log` I can see that this was the issue:
[code]
Wich is a not-working DRBD cluster...

I released https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/8.1.4 earlier today which let's me successfully deploy on GCP with DRBD enabled.
Please try again and let's debug further in case you issue persists.

[2022-06-07 12:56] ab-mohamed commented on #863
@yeoldegrove I completed the deployment successfully. the location constraints were removed., but the DB was not working on the first node:

[code]

Refreshing the stopped DB resource did not fix the issue.

I stopped the cluster services, and I started the DB manually. Everything was OK:
[code]

[2022-06-07 13:20] ab-mohamed commented on #863
Interesting finding! When the cluster services are down, starting the DB manually on the second node failed!:

[code]
[code]

[code]

I found the following log entries:
[code]

[2022-06-08 07:36] ab-mohamed commented on #863
@yeoldegrove Using the updated `main` branch instead of the `master` one fixes the issue.

[2022-06-08 08:51] yeoldegrove commented on #862
@melzer-b1 What do you think? Could be implement another switch in `terraform.tfvars` e.g. `cleanup_secrets = true` which is enabled by default?

[2022-06-10 08:56] yeoldegrove commented on #852
@tstaerk are you talking about https://console.cloud.google.com/compute/metadata where I could set e.g. https://cloud.google.com/compute/docs/oslogin/set-up-oslogin ?

 Just that I do not miss anything out... Could you please sum-up what exactly is not working for you (your use case) and how you solve it exactly?

Would just setting `enable-oslogin=FALSE` in https://registry.terraform.io/providers

[2022-06-10 09:12] yeoldegrove commented on #860
@busetde Still trying to reproduce you issue. No luck so far.
Is the issue maybe related to the DRBD cluster? Could you check or send the logs?

Another thing... our `develop` branch already includes some features to use google filestore as backend for HANA scale-out deployments and also netweaver (some code missing). Would you be interested in this feature?

[2022-06-10 09:20] busetde commented on #860
@yeoldegrove - for DRBD logs, what logs required?

[2022-06-10 10:21] busetde commented on #860
@yeoldegrove - The deployment still progressing but DRBD deployment is successful like below:

<img width="1213" alt="image" src="https://user-images.githubusercontent.com/63712632/173045342-e2738f9e-0f54-40cc-8608-42f0f1b2b9b6.png">

Will send `/var/log/sal*` when deployment finished...

[2022-06-10 10:33] busetde commented on #860
@yeoldegrove - The deployment failed...

<img width="1403" alt="image" src="https://user-images.githubusercontent.com/63712632/173047417-7b7c1f3f-bce4-478c-8787-546f5b48938a.png">

Will sent you from both DRBD...

[2022-06-10 10:41] busetde commented on #860
@yeoldegrove - Please find attached the DRBD  salt logs from both VM.
[default-vmdrbd02.zip](https://github.com/SUSE/ha-sap-terraform-deployments/files/8878159/default-vmdrbd02.zip)
[default-vmdrbd01.zip](https://github.com/SUSE/ha-sap-terraform-deployments/files/8878160/default-vmdrbd01.zip)

Let me know if there's anything else...

[2022-06-10 11:12] yeoldegrove commented on #860
@busetde The DRBD deployment seems to be successful from the logfiles.

Does the failed netcat from your screenshot above work?
[code]

How does `crm_mon -r1` look on the drbd nodes?

[2022-06-10 11:35] busetde commented on #860
@yeoldegrove
Here's the `crm_mon -r1`

From vmdrbd01
<img width="893" alt="image" src="https://user-images.githubusercontent.com/63712632/173056338-7097cbc2-edd8-438d-98bc-252ae4317199.png">

From vmdrbd02
<img width="901" alt="image" src="https://user-images.githubusercontent.com/63712632/173056455-d0c8b919-f10b-4e0f-be89-20e2361326ad.png">

Let me know if there's any information required...

[2022-06-10 11:38] yeoldegrove commented on #860
These error messages are "fine" and related to https://github.com/SUSE/ha-sap-terraform-deployments/issues/839 / https://bugzilla.suse.com/show_bug.cgi?id=1198872.

@busetde What about the netcat command?

[2022-06-10 11:48] busetde commented on #860
@yeoldegrove - it's succeeded as below:

<img width="455" alt="image" src="https://user-images.githubusercontent.com/63712632/173058287-1e833a50-5790-43e3-a9bf-5fdd39550940.png">

Any other information required?

Regards - Budi

[2022-06-10 11:55] yeoldegrove commented on #860
So to sum it up... everything DRBD related is running.
So this **could** be a timing issue.

@busetde To verify you could try tainting the netweaver provisioners and restart the salt run via another apply:
[code]

and/or you could try raising the 1200s/20m timeout here and do a complete new deployment:
https://github.com/SUSE/ha-sap-terraform-deployments/blob/main/salt/shared_storage/nfs.sls#L106

[2022-06-10 12:34] busetde commented on #860
@yeoldegrove - with tainting the netweaver still error...
Proceeding to destroy, raising to 30m timeout, apply...
and will update you...

[2022-06-10 14:27] busetde commented on #860
@yeoldegrove - I've changed the time and enabled vpc_name previously with #
'vpc_name = "slesnetwork"'
Deployment completed successfully...
<img width="1403" alt="image" src="https://user-images.githubusercontent.com/63712632/173087189-8c53a108-7ab3-49db-bd03-756c8f46228c.png">

Will close this issues...
Likely not because the timeout later will give it a try again...

Thanks @yeoldegrove

[2022-06-10 14:27] #860 closed

[2022-06-13 06:40] yeoldegrove commented on #860
@busetde feel free to raise an issue to raise the timeout when needed and reference this issue.

[2022-06-13 06:43] busetde commented on #860
@yeoldegrove - all good tested with the timeout of 20mins (1200), reason is the wrong configuration on vpc_name and subnet...

Thanks - Budi

[2022-06-13 09:54] tstaerk commented on #852
We found the error, we had an organisation policy (constraints/compute.requireOsLogin) active that enforced every project to have enable-oslogin=true.

This led to the ssh error:
![image](https://user-images.githubusercontent.com/325187/173325962-6d4d98c9-ad03-4aea-bd2f-ed3e615c6f99.png)
Also key verification was not the problem:

[code]

The issue was that the public ssh key was not automatically

[2022-06-13 11:52] stephenmogg opened #867 "Corosync settings on AWS"
Is it possible to validate the values used during configuration of the cluster on AWS.
I deployed 2 weeks ago, and found things like the token and consensus values seemed to be set at older best practice setting values.

The current best practice values can be found here ...
https://docs.aws.amazon.com/sap/latest/sap-hana/sap-hana-on-aws-cluster-configuration.html

May be worth checking the timeou

[2022-06-15 15:41] yeoldegrove commented on #867
@stephenmogg

https://docs.aws.amazon.com/sap/latest/sap-hana/sap-hana-on-aws-cluster-configuration.html mentions:
[code]

Something similar to https://github.com/SUSE/ha-sap-terraform-deployments/blob/8f3cc1846638d661c3fec3a714cd84de5fd7abf3/pillar_examples/automatic/netweaver/cluster.sls#L34-L41 would be needed.

Are you up to do a commit or shall I take over?

After a first look, I would say th

[2022-06-20 09:19] yeoldegrove commented on #839
This issue is solved in the latest available rpms:
[code]

Updates are available in the official channels.

[2022-06-20 09:19] #839 closed

[2022-06-24 07:56] tstaerk commented on #852
Hi @yeoldegrove

thanks for all your contributions here. @ab-mohamed and I really invested a lot of work debugging a "it all boils down to doesn't work" issue. And arrived at a conclusion - if you have a org policy requiring OS Login, you get an error message like in the description. Solution: remove this org policy and enable OS Login. If you cannot do this, manually go to the hana nodes and add

[2022-06-27 08:22] yeoldegrove commented on #867
@stephenmogg ping?

[2022-06-27 08:25] stephenmogg commented on #867
Hi,  Yes I'll try and submit this week.

[2022-06-27 08:32] yeoldegrove commented on #852
@tstaerk Ok, so this is global setting which is not directly related to this project but gets in the way ...

Could you check if it would be sufficient to set `metadata = { enable-oslogin = false, sshKeys = "..." }` here for every compute instance deployed by this project?

It would have to be added to every module that builds up compute instances... like here:
https://github.com/SUSE/ha-sap-terra

[2022-06-27 17:13] tstaerk commented on #852
If you have an organization policy that forbids it, you cannot set metadata = { enable-oslogin = false, sshKeys = "..." }

[2022-06-28 07:49] yeoldegrove commented on #831
@scmschmidt `SAPEXE_100-80005374.SAR` does not containt any systemd patch in its "content info" and also does not automatically create systemd units for me. Also trying to manually re-register the instance does not create systemd units (e.g. `LD_LIBRARY_PATH=/usr/sap/HA1/ERS10/exe:$LD_LIBRARY_PATH;export LD_LIBRARY_PATH;/usr/sap/HA1/ERS10/exe/sapstartsrv pf=/usr/sap/HA1/SYS/profile/HA1_ERS10_sapha

[2022-06-28 12:48] yeoldegrove commented on #867
For completeness, the SUSE reference: https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-perfopt-15-aws/index.html#id-1.11.6.5.6

[2022-06-29 07:12] scmschmidt commented on #831
@yeoldegrove  SAPEXE_100-80005374.SAR does not contain systemd support, yes. They are in the patches with patch level listed in the SAP Note. From "Content Info" list (button on the right), the ones with systemd support are: dw_utils_117-80005374.sar, sapwebgui_126-80005374.sar and dw_126-80005374.sar.
Until SAP releases the next stack kernel, the current kernel (SAPEXE_100-80005374.SAR) has to be

[2022-06-29 11:52] yeoldegrove commented on #718
fixed in `develop` via #872

[2022-06-29 11:52] #718 closed

[2022-06-29 12:59] yeoldegrove commented on #867
fixed in #869

[2022-06-29 12:59] #867 closed

[2022-07-05 22:03] melzer-b1 commented on #819
-  The passwords must contain at least 8/10 up to 14 characters.
-  They cannot start with a special character and
-  must contain at least 1 digit, 1 upper-case character, 1 lower-case character and not the invalid characters '"' or '\'

[2022-07-06 08:16] yeoldegrove commented on #819
I dug up some official docs again to support the needed changes.
We should differentiate the rules and regexes between HANA and Netweaver/S4HANA.
Also creating a `doc/sap_passwords.md`which links to the official documentation would help.
We could short-link to this new doc to not always include all the other links and the complete ruleset.

HANA:
- https://help.sap.com/docs/SAP_HANA_PLATFORM/009e6

[2022-07-08 06:49] melzer-b1 commented on #819
I've updated the PR to the 'new' rules. The rules are now documentated in `doc/sap_passwords.md`. All error messages and comments in the `terraform.tfvars.example` now refer to this file.

[2022-07-15 07:20] tstaerk commented on #852
OK, I propose that we add the error message to the documentation and explain how to check if the issue is about the organizational policy. And how to resolve it if you have the Org Policy Admin role.

[2022-07-18 07:13] yeoldegrove commented on #852
@tstaerk Do you want to make a PR (would be preferred by me as you're more into the topic) or shall I write something up (and let you review it) ?

[2022-07-18 09:29] tstaerk commented on #852
I work closely with @ab-mohamed I think we could come up with sth

[2022-07-20 08:06] tstaerk opened #874 "No Top file or master_tops data matches found"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP2

**Used client machine OS**
ChromeOS

**Expected behaviour vs observed behaviour**
Expected behavior: When I type terraform apply, I do not expect an error message
Actual behavior: When I type terraform appy, I get the message

module.hana_node.module.hana_provision.null_resource.provision[1]: Still creating... [7m20s elapsed]
module

[2022-07-20 08:08] tstaerk commented on #874
I was just pasting the error message and the bug became auto-submitted. So I still want to add to the description:
* where is this master log the error message is talking about?
* I wrote a 24 pages document how I produced this error message, it is here: https://docs.google.com/document/d/1LP-10QtJ7aIqEK-r-3kwjmYUb00h-XjpDaqyAU3-vGc/edit#

[2022-07-21 07:34] yeoldegrove commented on #874
@tstaerk I would need to have the exact release version (or git commit) you used for your deployment.

Version `8.1.3` and later include this fix which solved similar issues for me.
https://github.com/SUSE/ha-sap-terraform-deployments/compare/8.1.2...8.1.3#diff-72f855c338d037a9b865eb5c03ecd8448e89776aba3a4549bbd8950a584d8c2f

[2022-07-21 19:34] tstaerk commented on #874
oh, sorry, correct, Ab told me to update, but I forgot as I started a new project. Leave it to me, I guess I'll confirm soon.

[2022-07-22 13:12] lpalovsky opened #875 "GCP - zypper being blocked by other process during salt deployment"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES15SP3

**Used client machine OS**
SUSE linux

**Expected behaviour vs observed behaviour**
Issue happens after product registreation while salt is attempring to run "zypper product" command.
This occured with both OpenQA based deployment and manual one.
I tried both 'master' branch and tag "8.1.5"

[code]

**How to reproduce**

- Standard

[2022-07-25 07:45] yeoldegrove commented on #875
@lpalovsky I could not reproduce the issue with `os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"`. Could it be realted to the image you are using?

Also, I cannot find any `zypper.*products`command in any bash script or salt code we maintain here (and also not in the salt formulas). Could you point me to where you have seen the code?

Is this an error that breaks the deployment or is it only inf

[2022-07-26 08:42] mpagot opened #876 "iscsi terraform output is not the same for all providers"
**Used cloud platform**
Azure

**Used SLES4SAP version**
Not relevant

**Used client machine OS**
Linux (openSUSE TW)

**Expected behaviour vs observed behaviour**
Problem is in **iscsi_srv_ip**

Observed:
[code]

Expected:
[code]

**How to reproduce**

3. Run the next terraform commands for Azure :
[code]

**Used terraform.tfvars**
Not relevant

**Logs**
Not available

[2022-07-26 10:10] yeoldegrove commented on #876
It would be a good idea to revisit all the terraform outputs. I also found some of them confusing. e.g. `cluster_nodes` makes no sense anymore as multiple clusters are deployed.

[2022-07-26 15:34] yeoldegrove commented on #862
@abravosuse #877 is a suggestion on how to implement this feature. Any other suggestions which files to e.g. delete?

[2022-07-26 15:40] abravosuse commented on #862
It looks good to me, Eike. Thanks!

[2022-08-01 11:37] lpalovsky commented on #875
@yeoldegrove Hello, sorry for late reply.  I have been on vacation last week.

I did run the deployment again and it looks like the registercloudguest is at fault. I will put logs below.

[code]

salt-result.log

[code]
salt-os-setup.log

[code]

[2022-08-01 11:50] yeoldegrove commented on #875
@lpalovsky We had issues/bugs in `registercloudguest` in the past. These were mostly not related to the code in this repository but e.g. infrastructure issues or issues with `registercloudguest` itself.

Maybe to debug this further, you could try installing different versions of `registercloudguest` and running the salt code by hand.

This versions works fine for me on a SLES4SAP 15 SP4:
[code]

Y

[2022-08-01 14:33] lpalovsky commented on #875
Did some poking around and found few things.
After deployment fails there is only one repository available and the cloud-regionsrv-client version is 10.0.3-150000.6.70.1

[code]

I did run the registercloudguest manually and command passed fine:
[code]

After that I was able to update cloud-regionsrv-client  to 10.0.4-150000.6.73.1, but the salt-call still fails:

[code]

[2022-08-02 11:23] yeoldegrove commented on #862
implemented in #877

[2022-08-02 11:23] #862 closed

[2022-08-02 11:28] yeoldegrove commented on #876
@melzer-b1 Please come up with some ideas what to change.

[2022-08-09 07:03] yeoldegrove commented on #875
@lpalovsky I did quite a few deployments yesterday with the official os images:
`os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"` and `os_image = "suse-byos-cloud/sles-15-sp4-sap-byos"`
And in the regions: `region = "europe-west1"` and `region = "europe-west4"`
And could again not reproduce the issues.

`cloud-regionsrv-client-10.0.4-150000.6.73.1.noarch` was always installed in these latest ima

[2022-08-10 14:34] ab-mohamed opened #884 "gcloud CLI installation failure using SLES 12 SPx for SAP Applications"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES 12 SP4 for SAP applications

**Used client machine OS**
macOS

**Expected behaviour vs observed behaviour**
a successful HANA HA cluster deployment

**How to reproduce**
1. Default deployment using the `terraform apply --auto-approve` command
2. The deployment was failed as shown in the **Used terraform.tfvars** section
3.  gcloud was not

[2022-08-11 10:09] ab-mohamed commented on #884
I had a successful deployment using SLES 15 SP3 for SAP Applications. So, It seems to be an issue with the `CLOUDSDK_PYTHON` variable for SLES 12 SPx for SAP applications.

[2022-08-12 11:59] yeoldegrove commented on #884
#886 will fix the issue

[2022-08-12 12:56] ab-mohamed opened #887 "GCP fence_gce location constrains"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES12|15 SPx

**Used client machine OS**
macOS

**Expected behaviour vs observed behaviour**
`fence_gce` location constraints are not configured as documented in https://cloud.google.com/solutions/sap/docs/netweaver-ha-config-sles#create_the_fencing_device_resources

**How to reproduce**
1. Default deployment
2. Execute the following commands

[2022-08-15 06:26] yeoldegrove commented on #887
This needs to be fixed in https://github.com/SUSE/saphanabootstrap-formula.

[2022-08-15 07:46] yeoldegrove commented on #887
https://github.com/SUSE/saphanabootstrap-formula/pull/148 will fix this

[2022-08-16 09:41] yeoldegrove commented on #884
fixed in #886 and released in https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/8.1.6

[2022-08-16 09:41] #884 closed

[2022-08-16 09:41] yeoldegrove commented on #874
Please reopen in case the issue still occurs.

[2022-08-16 09:41] #874 closed

[2022-08-16 09:42] #887 closed

[2022-08-19 12:09] yeoldegrove commented on #876
All outputs have been completely reworked in #893

[2022-08-19 12:09] #876 closed

[2022-08-19 12:11] yeoldegrove commented on #819
Several updates were done in #873 and #890

[2022-08-19 12:11] #819 closed

[2022-09-12 08:42] yeoldegrove commented on #706
The feature is available with the https://github.com/SUSE/ha-sap-terraform-deployments/releases/tag/9.0.0 release.

[2022-09-12 08:42] #706 closed

[2022-09-13 13:42] ab-mohamed opened #900 "GCP - Wrong srHook Configurations"
**Used cloud platform**
GCP

**Used SLES4SAP version**
SLES12 SP4|5 for SAP Applications

**Used client machine OS**
macOS

**Expected behaviour vs observed behaviour**
Successful srHook configurations in /etc/sudoers.d/SAPHanaSR file

**How to reproduce**
Deploy HANA HA cluster using SLES12 SP4|5 for SAP Applications

Check /etc/sudoers.d/SAPHanaSR:
[code]
`hana_prd_site_srHook_u'NUE'` should be

[2022-09-15 15:12] mr-stringer commented on #900
I will look into this and attempt to reproduce it.

[2022-09-20 12:13] mr-stringer commented on #900
I have not been able to reproduce this error.

In my terraform.tfvars file I have identified the sites as below:

[code]

Can you please share your terraform.tfvars after redacting any sensitive information?

[2022-09-22 13:39] mr-stringer commented on #900
@ab-mohamed I am still unable to reproduce the issue.  Please post a redacted terraform.tfvars file.

[2022-09-22 18:16] abdurrahman84 commented on #900
@mr-stringer

Please ensure that you use SLES 12 SP4|5 for SAP Applications.

Here is my Terraform configurations:
[code]

[2022-09-27 20:39] ab-mohamed commented on #900
@mr-stringer Any updates about this issue?

[2022-10-18 09:36] mr-stringer commented on #900
Sorry, I didn't see you'd posted this.  I'll give it a try in the next day or two.  Thanks :)

[2022-11-11 10:24] stephenmogg opened #903 "(EC2 Instance Tag values are set incorrectly - impacts fencing operation"
**Used cloud platform**
AWS

**Used SLES4SAP version**
SLESforSAP15SP4

**Used client machine OS**
OpenSUSE

**Expected behaviour vs observed behaviour**
Instance tags values (the ones used by EC2 Fence agent), are set incorrectly during deployment.
e.g tag value is set to 'terraformworkspace-hostname' - when it should be set to the short hostname of the instance.
Therefore - when a fencing operat

[2022-11-14 09:35] brianp-uk commented on #903
In case it is helpful...  I also had a very brief look at this issue.
It seemed to be the case that if you use the default workspace in Terraform, then the instance tags are set and work as expected, but if they are set differently, by using a different Terraform workspace, they are not set correctly.